@if (!isLoggedIn) {
  <h1 class="ml-6 mt-5">MedAt Trainer</h1>
  <app-wip></app-wip>
  <br>
  <div class="flex justify-content-center align-items-center h-19rem">
    <div>
      <p-floatLabel>
        <input [class]=" isInvalid()? 'ng-invalid ng-dirty':''" pInputText id="password" [(ngModel)]="password"/>
        <label for="password">{{isInvalid()? 'Wrong Password':'Password'}}</label>
      </p-floatLabel>
    </div>
    <div class="ml-4">
      <p-button icon="pi pi-sign-in" [rounded]="true" (onClick)="dummyLogin()"/>
    </div>
  </div>
  <div class="absolute bottom-0 h-auto left-0 px-4 py-1 w-full surface-500 border-1 surface-border text-xs">
    <span class="flex w-full text-orange-400 justify-content-center">CAVE! This page stores zero data - All settings, results and statistics are los after reloading!</span>
    <br>This website is a training website for tasks that will come to the entrance test of MedAt.
    All tasks are generated - so they are just example questions. There is no guarantee, that the tests
    are generated 100% correctly. Inside the information Tab you will find the information about the generation-process
    as well as the sources used for programming the logic.
    If you are able to read code you can also look inside the repository by yourself: <a href="https://github.com/HansSeidel/medat-trainer">MedAt-Trainer - GitHub</a>
    The generation of the tasks will be stored inside "src/app/services/*".
  </div>
} @else {
  <p-tabMenu [model]="items" [activeItem]="activeItem" />
  <router-outlet></router-outlet>
}
