
<h3 class="ml-6 mt-5">This website is currently in production <span class="pi pi-hammer"></span></h3>

<div class="w-full px-8">
  <p-divider align="left" type="solid">
    <b>Simulation containing all implemented tasks</b>
  </p-divider>
  <div class="justify-content-center w-auto px-8 pt-1">
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto mb-4" label="Start Test Simulation" disabled="true" [pTooltip]="this.notImplementedYet"  size="large"/>
  </div>
  <p-divider align="left" type="solid">
    <b>KFF-Tasks</b>
  </p-divider>
  <div class="justify-content-center w-auto px-8 pt-3">
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto block mb-3" label="Zahlenfolge" disabled="true" [pTooltip]="this.notImplementedYet" />
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto block mb-3" label="Merkfähigkeit" disabled="true" [pTooltip]="this.notImplementedYet" />
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto block mb-3" label="Wortflüssigkeit" disabled="true" [pTooltip]="this.notImplementedYet" />
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto block mb-3" label="Implikationen" disabled="true" [pTooltip]="this.notImplementedYet" />
  </div>
</div>
