<app-wip></app-wip>
<div class="w-full px-8">
  <p-divider align="left" type="solid">
    <b>Simulation containing all implemented tasks</b>
  </p-divider>
  <div class="justify-content-center w-auto px-8 pt-1">
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto mb-4" label="Start Test Simulation" disabled="true" [pTooltip]="this.notImplementedYet"  size="large"/>
  </div>
  <p-divider align="left" type="solid">
    <b>KFF-Tasks</b>
  </p-divider>
  <div class="justify-content-center w-auto px-8 pt-3">
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto block mb-3" label="Figuren zusammensetzen" disabled="true" [pTooltip]="this.notImplementedYet" />
    <!-- GM - Lernphase -->
    <p-button icon="pi pi-hammer" severity="primary" class="p-fluid block mb-3" label="Zahlenfolgen" (click)="startZahlenfolge()"/>
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto block mb-3" label="Implikationen" disabled="true" [pTooltip]="this.notImplementedYet" />
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto block mb-3" label="Gedächtnis und Merkfähigkeit" disabled="true" [pTooltip]="this.notImplementedYet" />
    <p-button icon="pi pi-hammer" severity="secondary" class="p-fluid pointer-events-auto block mb-3" label="Wortflüssigkeit" disabled="true" [pTooltip]="this.notImplementedYet" />
  </div>
</div>
